.h-flex{
  display: flex;
  flex-direction: column;
}
.v-flex{
  display: flex;
  flex-direction: row;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.example-form {
  min-width: 150px;
  width: 100%;
  padding: 5px;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
.m-top-20{
  margin-top: 20px;
}
