<div class="login-container">
  <mat-card class="example-card">
    <form [formGroup]="form">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Para ter acesso às funcionalidades, você deve autenticar-se</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="h-flex">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input name="email" matInput placeholder="Digite seu email aqui" formControlName="email">
            <mat-hint>Ex: myemail@domain.com</mat-hint>
          </mat-form-field>
        </p>
        <p class="h-flex">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input name="password" type="password" matInput placeholder="Digite sua senha aqui" formControlName="password">
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <p class="h-flex">
          <button mat-flat-button (click)="login()" color="primary">Entrar</button>
        </p>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
