<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/" style="cursor: pointer">The Baskets</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="users">Usuários</button>
    <button mat-button routerLink="users">
      Minha cesta
      <mat-icon aria-hidden="false" aria-label="Logout">shopping_basket</mat-icon>
    </button>
    <button *ngIf="auth.isLoggedIn()" mat-flat-button color="warn" matTooltip="Sair" (click)="doLogout()">
      <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>
    </button>
    <button *ngIf="auth.isLoggedOut()" mat-flat-button color="basic" matTooltip="Entrar" routerLink="login">
      Logar-se
      <mat-icon aria-hidden="false" aria-label="Logout">fingerprint</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
