/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content{
  padding: 5px;
}
.h-flex{
  display: flex;
  flex-direction: column;
}
.v-flex{
  display: flex;
  flex-direction: row;
}
.p-left-15{
  padding: 0 15px;
}
.p-left-30{
  padding: 0 30px;
}
.col-1{
  width: 12%;
}
.col-2{

}
.col-3{

}
.col-4{

}
.col-5{

}
.col-6{
  width: 49%;
}
.col-7{

}
.col-8{

}
.col-9{

}
.col-10{

}
.col-11{

}
.col-12{
  width: 98%;
}
