/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content{
  padding: 5px;
}
.h-flex{
  display: flex;
  flex-direction: column;
}
.v-flex{
  display: flex;
  flex-direction: row;
}
